/CodeSmith/CSharp
/OpenAuth.Core/OpenAuth.WebApi/certs/NWO060001
/OpenAuth.Core/OpenAuth.WebApi/certs
/OpenAuth.Core/ApiGateway/logs
/OpenAuth.Core/OpenAuth.WebApi/.config/dotnet-tools.json
/OpenAuth.Core/OpenAuth.App/Nwcali/Request/SelectAssetAndCategorReq.cs
