.my-dialog-wrapper { // my-dialog组件的样式
  // overflow-y: hidden;
  .el-form-item__label {
    font-size: 12px !important;
    font-weight: normal !important;
  }
  .el-form-item.el-form-item--small {
    margin-bottom: 8px;
  }
  .el-form-item.is-error.is-required.el-form-item--small {
    margin-bottom: 18px;
  }
  .title-wrapper {
    position: relative;
    .my-dialog-icon {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      border-radius: 4px;
      background-color: #f3b409;
    }
    .my-dialog-title {
      margin-left: 15px;
      font-size: 18px;
      font-weight: bold;
    }
      
    /* 展示 字段*/
    .my-dialog-item { 
      margin-right: 10px;
      font-size: 12px;
      span:nth-child(1) {
        color: #BFBFBF;
        margin-right: 10px;
      }
      span:nth-child(2) {
        color: #222222;
      }
    }
  }
  .el-dialog__header {
    overflow: hidden;
    padding: 10px 0 !important;
    margin: 0 20px !important;
    border-bottom: 1px solid #f2f2f3;
  }
  .el-dialog__footer {
    padding: 10px 20px;
    box-shadow: 0 -2px 1px 0px #eee, 0 2px 1px 0px #eee;
  }
  .el-dialog__body {
    padding: 10px !important;
  }
  .btn-item {
    border: 1px solid #DCDFE6;
    .danger {
      background-color: rgba(245, 108, 108, 1);
    }
    .close {
      background-color: #fff;
      color: black;
    }
  }
}
