.flex_center {
  display: flex;
  justify-content: center;
}
.flex_middle { 
  display: flex;
  align-items: center;
}

.flex_center_middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 手势 */
.pointer {
  cursor: pointer;
}

/* 按钮样式 */
.customer-btn-class {
  background-color: #F8B500;
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: #F8B500;
    border-color: #fff;
    color: #fff;
  }
  &:focus {
    background-color: #F8B500;
    border-color: #fff;
    color: #fff;
  }
  &:active {
    background-color: #F8B500;
    border-color: #fff;
    color: #fff;
    outline: 0;
  }
}
.btn-item {
  &.danger {
    background-color: rgba(245, 108, 108, 1);
  }
  &.close {
    background-color: #fff;
    color: #000;
  }
}

/* 提示气泡信息 */
.mw-200 {
  max-width: 200px;
}

/* 消息提示的样式 */
.drop-scrollbar {
  color: #000;
  font-size: 12px;
  .el-scrollbar__wrap {
    max-height: 200px; // 最大高度
    overflow-x: hidden; // 隐藏横向滚动栏
    margin-bottom: 0 !important;
  }
}
.hidden-dropdown {
  display: none;
}

.notify-message-dropdown {
  > li:hover {
    background-color: #fff !important;
  }
}

/* 弹窗外层样式 */
.el-dialog__wrapper, .v-modal {
  position: absolute;
  // position: fixed;
}
.v-modal {
  background-color: #fff;
  opacity: 0;
}

/* image-viewer组件 删除按钮样式 */
.el-image-viewer__wrapper {
  .el-image-viewer__close {
    i {
      color: #fff;
    }
  }
}