.flex_center {
  display: flex;
  justify-content: center;
}
.flex_middle { 
  display: flex;
  align-items: center;
}

.flex_center_middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 手势 */
.pointer {
  cursor: pointer;
}

.el-submenu .el-menu-item {
  
}