.flex_center {
  display: flex;
  justify-content: center;
}
.flex_middle { 
  display: flex;
  align-items: center;
}

.flex_center_middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 手势 */
.pointer {
  cursor: pointer;
}

/* 按钮样式 */
.customer-btn-class {
  background-color: rgba(248, 181, 0, 1);
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: rgba(248, 181, 0, 1);
    border-color: #fff;
    color: #fff;
  }
  &:focus {
    background-color: rgba(248, 181, 0, 1);
    border-color: #fff;
    color: #fff;
  }
  &:active {
    background-color: rgba(248, 181, 0, 1);
    border-color: #fff;
    color: #fff;
    outline: 0;
  }
}