.el-table {
  font-size: 12px !important;
}

/* 图片箭头样式 */
.link-container {
  display: inline-block;
  vertical-align: middle;
  img {
    vertical-align: middle;
  }
  a {
    vertical-align: middle;
  }
}