@import './variables.scss';

.el-table {
  font-size: 12px !important;
  th, td {
    padding: 0 !important;
  }
}
.el-table th {
  padding: 0 !important;
}

/* 图片箭头样式 */
.link-container {
  display: inline-block;
  vertical-align: middle;
  img {
    vertical-align: middle;
    margin-top: -3px;
  }
  a {
    vertical-align: middle;
  }
}

/* 状态 */
.status-red {
  color: $statusRed;
}
.status-yellow {
  color: $statusYellow;
}
.status-green {
  color: $statusGreen;
}
.status-gray {
  color: $statusGray;
}

/* 工单优先级 */
.priority-low {
  color: $priority-low;
}
.priority-middle {
  color: $priority-middle;
}
.priority-high {
  color: $priority-high;
}