<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }

        hr {
            margin-top: 3px;
            height: 0px;
            border-top: 1px solid black;
            border-right: 0px;
            border-bottom: 0px;
            border-left: 0px;
        }

        body {
            font-family: '华文宋体';
            font-size: 12pt;
        }
    </style>
</head>
<body>
    <div style="margin-top:20px;">
        <span>申请人签字:</span>
        <span style="border-bottom: 1px solid black;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>申请部门主管签字:</span>
        <span style="border-bottom: 1px solid black;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>仓库主管签字:</span>
        <span style="border-bottom: 1px solid black;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>仓库(帐/物)经办人:</span>
        <span style="border-bottom: 1px solid black;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <hr />
    <div style="text-align:center; width:1000px;">
        系统操作者：@Model.User
    </div>
    <div style="text-align:center; width:1000px;">
    </div>
    <div style="text-align:center; width:1000px;">
    </div>
</body>
</html>